# --- fabric-samples location (needed if not ../fabric-samples and not under $HOME/go/src/github.com/$USER)
# After: make fabric-install-hyperledger FABRIC_GITHUB_USER=YourId
# use the same GitHub folder name here:
FABRIC_GITHUB_USER=YourId
FABRIC_SAMPLES_ROOT=$(HOME)/go/src/github.com/YourId/fabric-samples

API_PORT=8080
WEB_PORT=8081
# If your peer gRPC port on the host is not 7051, set:
FABRIC_HOST_PEER_PORT=7051
