# --- fabric-samples location (needed if not ../fabric-samples and not under $HOME/go/src/github.com/$USER)
# After: make install FABRIC_GITHUB_USER=YourId
# use the same GitHub folder name here:
FABRIC_GITHUB_USER=YourId
FABRIC_SAMPLES_ROOT=$(HOME)/go/src/github.com/YourId/fabric-samples
